# Ignorar tudo na raiz
/*

#Na Raiz ignorar tudo menos estes ficheiros e pastas
!.gitignore
!DEV/


# Ignorar tudo na pasta DEV
DEV/*

# Na pasta DEV ignorar tudo menos estes ficheiros e pastas
!DEV/Meta2/


# Ignorar tudo na pasta DEV/Meta2
DEV/Meta2/*

# Na pasta DEV/Meta2 ignorar tudo menos estes ficheiros e pastas
!DEV/Meta2/jucompiler.l
!DEV/Meta2/jucompiler.y
!DEV/Meta2/Tree.c
!DEV/Meta2/Tree.h
!DEV/Meta2/expr.y
!DEV/Meta2/TODOs.md
