# Ignorar tudo na raiz
/*

#Na Raiz ignorar tudo menos estes ficheiros e pastas
!.gitignore
!.gitattributes
!README.md
!DEV/


# Ignorar tudo na pasta DEV
DEV/*

# Na pasta DEV ignorar tudo menos estes ficheiros e pastas
!DEV/Meta2/
!DEV/Meta1/
!DEV/Meta3/

# Ignorar tudo na pasta DEV/Meta2
DEV/Meta2/*

# Na pasta DEV/Meta2 ignorar tudo menos estes ficheiros e pastas
!DEV/Meta2/jucompiler.l
!DEV/Meta2/jucompiler.y
!DEV/Meta2/Tree.c
!DEV/Meta2/Tree.h
!DEV/Meta2/expr.y
!DEV/Meta2/TODOs.md
!DEV/Meta2/testes/
!DEV/Meta2/test.sh
!DEV/Meta2/makefile
!DEV/Meta2/teste.java
!DEV/Meta2/testCompiler.sh


# Na pasta DEV/Meta3 ignorar tudo menos estes ficheiros e pastas
!DEV/Meta3/jucompiler.l
!DEV/Meta3/jucompiler.y
!DEV/Meta3/Tree.c
!DEV/Meta3/Tree.h
!DEV/Meta3/expr.y
!DEV/Meta3/testes/
!DEV/Meta3/test.sh
!DEV/Meta3/makefile
!DEV/Meta3/teste.java
!DEV/Meta3/testCompiler.sh
!DEV/Meta3/symtab.c
!DEV/Meta3/symtab.h
!DEV/Meta3/analise_semantica.c
!DEV/Meta3/analise_semantica.h
